@model IEnumerable<GuardiaComunal.Models.Act>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .td-btn {
        text-align: center !important;
        border-bottom: 1px solid #EAEAEA !important;
        font-size: 13px !important;
        padding-left: inherit !important;
        overflow: hidden !important;
        white-space: normal !important;
        height: auto !important;
        width: 400px !important;
        /* border-right-width: 0px; */
    }

    .span-btn {
        color: #666666;
        cursor: pointer;
        /* margin: 0px; */
        font-size: 18px;
        text-align: center;
        vertical-align: middle;
        width: 20px;
    }

    .span-btn-dtl {
        color: #9a3f3f;
        cursor: pointer;
        /* margin: 0px; */
        font-size: 18px;
        text-align: center;
        vertical-align: middle;
        width: 20px;
    }

    .dataTables-Index {
        table-layout: fixed;
    }
</style>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table id="dataTables-Index" width="100%" class="display nowrap table table-striped table-bordered table-hover" style="font-size:11px">
                        <thead>
                            <tr>
                                <th>Acción</th>
                                <th>Nro Acta</th>
                                <th>Fecha Infracción</th>
                                <th>DNI</th>
                                <th>Estado Vehiculo</th>
                                <th>Tipo Vehiculo</th>
                                <th>Dominio</th>
                                <th>Nro Motor</th>
                                <th>Nro Chasis</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Color</th>
                                <th>Agente</th>

                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Nro Acta</th>
                                <th>Fecha Infracción</th>
                                <th>DNI</th>
                                <th>Estado Vehiculo</th>
                                <th>Tipo Vehiculo</th>
                                <th>Dominio</th>
                                <th>Nro Motor</th>
                                <th>Nro Chasis</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Color</th>
                                <th>Agente</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Progress Loader -->
<div id="div-loader" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8; display: none">
    <p style="position: absolute; color: White; top: 35%; left: 45%;">
        <img src="~/Images/loading.gif" alt="Loading..." />
    </p>
</div>

}
<!-- /#page-wrapper -->
<!-- /#wrapper -->
@section scripts {

<script>




    $(document).ready(function () {



         var table=  $('#dataTables-Index').DataTable({
              "ajax":
                  {
                      url: "@Url.Action("GetActs", "Acts")",
                      type: "post",
                      dataSrc: ""
                  },
              "columns": [
                  { "data": "id", defaultContent: '', "width": "100%" },
               { "data": "NroActa" },
               {
                   "data": "FechaInfraccion",
                   render: function (data, type, row) {
                       if (type === "sort" || type === "type") {
                           return data;
                       }
                       return moment(data).format("DD-MM-YYYY HH:mm");
                   }
               },
               { "data": "DNI" },
               { "data": "EstadoVehiculo" },
               { "data": "VehicleType.Descripcion" },
               { "data": "Dominio" },
               { "data": "NroMotor" },
               { "data": "NroChasis" },
               { "data": "VehicleBrand.Descripcion" },
               { "data": "VehicleModel.Descripcion" },
               { "data": "Color" },
               { "data": "TipoAgente" }
              ],
              rowId: 'Id',
              responsive: true,
              ordering: false,
              scrollX: true,
              "autoWidth": true,
              "fnCreatedRow": function (nRow, aData, iDataIndex) {
                  //Agrego las
                  // Add a class to the cell in the first column
                  $(nRow).children(':nth-child(1)').addClass('td-btn');
                  // Add a class to the row
                //  $(nRow).addClass('td-btn');

                  //Agrego el boton
                  //$('td:eq(0)', nRow).append("<div class='btn-group'><button type='button' class='btn btn-primary btn-xs dropdown-toggle' data-toggle='dropdown'><i class='fa fa-gear'></i> <span class='caret'></span></button><ul class='dropdown-menu' role='menu'><li><a href='#' onclick='Edit(this);'>Ver/Editar</a></li><li><a href='liberaciones.html'>Liberar</a></li><li class='divider'></li><li><a href='#' onclick='Delete(this);'>Eliminar</a></li></ul></div>");
                  $('td:eq(0)', nRow).append("<span class='fa fa-pencil span-btn' type='button' value='E' data-toggle='tooltip' data-placement='top' title='Modificar' id='btn_Editar' />");
                  $('td:eq(0)', nRow).append("<span class='fa fa-check-square span-btn' type='button' value='C' data-toggle='tooltip' data-placement='top' title='Liberar' id='btn_Liberar'/> ");
                  $('td:eq(0)', nRow).append("<span data-toggle='modal' data-target='#eliminar-modal'><span class='fa fa-trash span-btn-dtl' type='button' value='D' data-toggle='tooltip' data-placement='top' title='Eliminar'/></span>");
              }

       });
        // Setup - add a text input to each footer cell
         $('#dataTables-Index_wrapper tfoot th').each(function () {
            var title = $(this).text();
            if (title !== '') {
                $(this).html('<input type="text" placeholder=" ' + title + '" />');
            }
         });


        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
         });

    });

    $(document).on('click', '#btn_Editar', function () {
        var id = $(this).closest('tr').attr('id')
        var baseUrl = "@Url.Action("Edit", "Acts", new { id="ID"})";
        window.location.href = baseUrl.replace("ID",id);
    });

        function Delete(a) {
            var id = $(a).closest('tr').attr('id')

            Lobibox.confirm({
                title: 'Atención',
                msg: "¿Esta seguro que desea eliminar el Acta?",
                callback: function ($this, type, ev) {
                    if (type === 'yes') {
                    $.ajax({
                    url: '@Url.Action("DeleteAct", "Acts")',
                    type: 'POST',
                    data: JSON.stringify({
                        "id": id
                    }),
                    contentType: 'application/json; charset=utf-8;',
                    success: function (result) {
                        $("#dataTables-Index").dataTable().fnReloadAjax();//Recargo la grilla
                        $("#div-loader").hide();
                        Lobibox.notify('success', {
                            title: 'Exito',
                            msg: 'Los cambios se han grabado correctamente.'
                        });
                    },
                    error: function (response) {
                        $("#div-loader").hide();
                            Lobibox.notify('error', {
                                title: 'Error',
                                msg: 'Ah ocurrido un error, intente nuevamente.'});
                        }
                     });
                    };
}

            });
        }

        

</script>
}
