@model IEnumerable<GuardiaComunal.Models.Act>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page-wrapper">
    <div class="row">
        <h1 class="page-header">Actas</h1>


        <form role="form" class="form-horizontal">
            <div class="col-lg-12">

                <!-- /.Panel de Datos de Alta -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Datos de Acta
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="exampleFormControlSelect1">Tipo de Acta</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Oficio</option>
                                    <option>Documentada</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Nro. Acta</label><input class="form-control" placeholder="Nro de Acta" type="text">
                            </div>
                            <div class="col-sm-3">
                                <label for="example-datetime-local-input">Fecha/Hora de Infracción</label>
                                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                            </div>
                            <div class="col-sm-3">
                                <label>Tanda</label><input class="form-control" placeholder="Tanda" type="text">
                            </div>
                        </div>

                        <!-- /.Calle y Altura -->
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Calle</label><input class="form-control" placeholder="Calle" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label>Altura</label><input class="form-control" placeholder="" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label>Entre Calle</label><input class="form-control" placeholder="Entre Calle" type="text">
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlSelect1">Barrio</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>9 de Julio</option>
                                    <option>Centro</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="example-datetime-local-input">Fecha de Envío al Juzgado</label>
                                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                            </div>
                            <div class="col-sm-4">
                                <label for="exampleFormControlSelect1">Acta Adjunta</label>
                                <div class="input-group input-file" name="Fichier1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-choose" type="button">Elegir</button>
                                    </span>
                                    <input type="text" class="form-control" placeholder='Selecciona Acta...' />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-reset" type="button">Borrar</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label for="example-datetime-local-input">Fecha/Hora de Carga</label>
                                <input class="form-control" type="datetime-local" value="2018-05-19T13:45:00" id="example-datetime-local-input" disabled>
                            </div>
                            <div class="col-sm-2">
                                <label>Usuario de Carga</label><input class="form-control" value="nblasco" placeholder="Usuario de Carga" type="text" disabled>
                            </div>
                        </div>


                    </div>
                </div>

                <!-- /. FIN Panel de Datos de Alta -->
                <!-- /. Panel de Datos del Infractor -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Datos del Infractor
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Apellido</label><input class="form-control" placeholder="Apellido" type="text">
                            </div>
                            <div class="col-sm-3">
                                <label>Nombre</label><input class="form-control" placeholder="Nombre" type="text">
                            </div>
                            <div class="col-sm-3">
                                <label>DNI</label><input class="form-control" placeholder="DNI" type="text">
                            </div>
                            <div class="col-sm-3">
                                <label>Nro Licencia</label><input class="form-control" placeholder="Nro de Licencia" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. FIN Panel de Datos del Infractor -->
                <!-- /. Panel de Datos de Detalle del Vehiculo -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Detalle del Vehiculo
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="exampleFormControlSelect1">Tipo de Vehiculo</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Auto</option>
                                    <option>Moto</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlSelect1">Tipo de Dominio</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Viejo</option>
                                    <option>Nuevo</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Dominio</label><input class="form-control" placeholder="Dominio" type="text">
                            </div>
                            <div class="col-sm-3">
                                <label for="exampleFormControlSelect1">Marca</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Chevrolet</option>
                                    <option>Ford</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <label for="exampleFormControlSelect1">Modelo</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Agile</option>
                                    <option>Corsa</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label>Color</label><input class="form-control" placeholder="Color" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label>Nro Motor</label><input class="form-control" placeholder="Nro de Motor" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label>Nro Chasis</label><input class="form-control" placeholder="Nro de Chasis" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="exampleFormControlSelect1">Estado del vehiculo</label>
                                <select class="form-control" id="exampleFormControlSelect1" disabled>
                                    <option>No Retenido</option>
                                    <option>Retenido</option>
                                    <option>Liberado</option>
                                    <option>Compactado</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="example-datetime-local-input">Fecha de Estado</label>
                                <input class="form-control" type="datetime-local" value="2018-05-19T13:45:00" id="example-datetime-local-input" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. FIN Panel de Detalle del Vehiculo -->
                <!-- /. Panel de Detalle del Acta -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Detalle del Acta
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label for="exampleFormControlSelect1">Tipo Agente</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Inspector</option>
                                    <option>Policia</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label for="exampleFormControlSelect1">Agente</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Inspector 1</option>
                                    <option>Inspector 2</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-sm-12">
                                <label class="checkbox-inline">
                                    <input type="checkbox">Vehiculo Retenido
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox">Licencia Retenida
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox">Ticket Alcoholemia
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Resultado Alcoholemia</label><input class="form-control" placeholder="Resultado del Ticket de Alcoholemia" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label for="exampleFormControlSelect1">Ticket de Alcoholemia Adjunto</label>
                                <div class="input-group input-file" name="Fichier1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-choose" type="button">Elegir</button>
                                    </span>
                                    <input type="text" class="form-control" placeholder='Selecciona el Ticket...' />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-reset" type="button">Borrar</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label>Informe</label><input class="form-control" placeholder="Informe del Inspector" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label for="exampleFormControlSelect1">Informe Adjunto</label>
                                <div class="input-group input-file" name="Fichier1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-choose" type="button">Elegir</button>
                                    </span>
                                    <input type="text" class="form-control" placeholder='Selecciona informe...' />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-reset" type="button">Borrar</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8">
                                <label for="exampleFormControlSelect1">Contravenciones</label>
                                <select id="my-select" name="character" multiple="multiple">
                                    <option value="1">Semaforo en rojo</option>
                                    <option value="2">Sin licencia</option>
                                    <option value="3">Sin Patente</option>
                                    <option value="4">Sin Registro</option>
                                    <option value="5">Maneja Alcoholizado</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-8">
                                <label for="exampleFormControlSelect1">Observaciones</label>
                                <select id="my-select2" name="character" multiple="multiple">
                                    <option value="1">Licencia Retenida</option>
                                    <option value="2">Planilla VTV</option>
                                    <option value="3">Denuncia Policial</option>
                                    <option value="4">Recibo Seguro</option>
                                    <option value="5">Con Informe</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Detalle</label><input class="form-control" placeholder="Detalle" type="text">
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /. https://pbauerochse.github.io/searchable-option-list/examples.html#basic-usage -->
                <button type="button" class="btn btn-primary">Guardar</button>


            </div>
            <!-- /.col-lg-12 -->

        </form>
        <!-- /.form -->

    </div>
    <!-- /.ro -->
</div>
<!-- /#page-wrapper -->
    </div>
<!-- /#wrapper -->
@section scripts {


    <script>

        $(function () {
            $('.dropdown-menu a').click(function () {
                console.log($(this).attr('data-value'));
                $(this).closest('.dropdown').find('input.countrycode')
                    .val('(' + $(this).attr('data-value') + ')');
            });
        });

        function bs_input_file() {
            $(".input-file").before(
                function () {
                    if (!$(this).prev().hasClass('input-ghost')) {
                        var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function () {
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                        });
                        $(this).find("button.btn-choose").click(function () {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function () {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function () {
                            $(this).parents('.input-file').prev().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }
        $(function () {
            bs_input_file();
        });


        $(function () {
            // initialize sol
            $('#my-select').searchableOptionList();
            $('#my-select2').searchableOptionList();
        });

    </script>
}
