@model GuardiaComunal.Models.Act

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                    <table id="example" width="100%" class="display nowrap table table-striped table-bordered table-hover" style="font-size:11px">
                        <thead>
                            <tr>
                                <th>Acción</th>
                                <th>Nro Acta</th>
                                <th>Fecha Infracción</th>
                                <th>DNI</th>
                                <th>Estado Vehiculo</th>
                                <th>Tipo Vehiculo</th>
                                <th>Dominio</th>
                                <th>Nro Motor</th>
                                <th>Nro Chasis</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Color</th>
                                <th>Agente</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>


                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-gear"></i> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="index.html">Ver/Editar</a>
                                            </li>
                                            <li>
                                                <a href="liberaciones.html">Liberar</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="#">Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>

                                </td>
                                <td>000001</td>
                                <td>2018/04/25</td>
                                <td>27098234</td>
                                <td>No Retenido</td>
                                <td>Auto</td>
                                <td>JDF909</td>
                                <td>JDFFSD08483294423</td>
                                <td>543545546465</td>
                                <td>Chevrolet</td>
                                <td>Corsa</td>
                                <td>Gris</td>
                                <td>Perez Pablo</td>
                            </tr>
                            <tr>
                                <td>


                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-gear"></i> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="index.html">Ver/Editar</a>
                                            </li>
                                            <li>
                                                <a href="liberaciones.html">Liberar</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="#">Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>

                                </td>
                                <td>000002</td>
                                <td>2018/03/15</td>
                                <td>27123456</td>
                                <td>No Retenido</td>
                                <td>Auto</td>
                                <td>PMA675</td>
                                <td>FSDFSDFSD3443545</td>
                                <td>5546645654</td>
                                <td>Chevrolet</td>
                                <td>Corsa</td>
                                <td>Negro</td>
                                <td>Lucas Gomez</td>
                            </tr>
                            <tr class="warning">
                                <td>


                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-gear"></i> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="index.html">Ver/Editar</a>
                                            </li>
                                            <li>
                                                <a href="liberaciones.html">Liberar</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="#">Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>

                                </td>
                                <td>000003</td>
                                <td>2017/03/22</td>
                                <td>27098543</td>
                                <td>Retenido</td>
                                <td>Moto</td>
                                <td>FD432</td>
                                <td>543534354534</td>
                                <td>123234455</td>
                                <td>Honda</td>
                                <td>CVR</td>
                                <td>Blanca</td>
                                <td>Patricia Lopez</td>
                            </tr>
                            <tr class="success">
                                <td>


                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-gear"></i> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="index.html">Ver/Editar</a>
                                            </li>
                                            <li>
                                                <a href="liberaciones.html">Ver Liberación</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="#">Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>

                                </td>
                                <td>000004</td>
                                <td>2017/10/14</td>
                                <td>31098654</td>
                                <td>Liberado</td>
                                <td>Auto</td>
                                <td>FDF009</td>
                                <td>FPORF643746348443</td>
                                <td>89053475302</td>
                                <td>Ford</td>
                                <td>Fiesta</td>
                                <td>Rojo</td>
                                <td>Martin Garcia</td>
                            </tr>
                            <tr class="danger">
                                <td>


                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-gear"></i> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="index.html">Ver/Editar</a>
                                            </li>
                                            <li>
                                                <a href="liberaciones.html">Liberar</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="#">Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>

                                </td>
                                <td>000005</td>
                                <td>2017/10/04</td>
                                <td>31876444</td>
                                <td>Compactado</td>
                                <td>Auto</td>
                                <td>KOUYHG</td>
                                <td>PLHFD534534534</td>
                                <td>9876544555</td>
                                <td>Toyota</td>
                                <td>HILUX</td>
                                <td>Blanco</td>
                                <td>Daniel Migoli</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Nro Acta</th>
                                <th>Fecha Infracción</th>
                                <th>DNI</th>
                                <th>Estado Vehiculo</th>
                                <th>Tipo Vehiculo</th>
                                <th>Dominio</th>
                                <th>Nro Motor</th>
                                <th>Nro Chasis</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Color</th>
                                <th>Agente</th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- /#page-wrapper -->

@section scripts {

    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#example tfoot th').each(function () {
                var title = $(this).text();
                if (title !== '') {
                    $(this).html('<input type="text" placeholder=" ' + title + '" />');
                }
            });

            // DataTable
            var table = $('#example').DataTable(
                {
                    "ordering": false,
                    "scrollX": true
                });

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
}